<app-navbar></app-navbar>

<body id="body-pd" class="body-pd" style="min-height: 100vh;">
  <div class="container">
    <div class="row justify-content-start" style="padding-top: 30px;">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column">
        <div class="image-taille-controleur text-center"><a [routerLink]="['/game/institutions/magasins']"><img data-bss-hover-animate="bounce"
              class="img-institution" src="../assets/img/institution-magasin.png">
            <h5 class="w-100 text-center" style="color: var(--bs-gray-200);"><strong>Magasins</strong></h5>
          </a></div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column">
        <div class="image-taille-controleur text-center"><a href="#"><img data-bss-hover-animate="bounce"
              class="img-institution" src="../assets/img/institution-banque.png">
            <h5 class="w-100 text-center" style="color: var(--bs-gray-200);"><strong>Banque</strong></h5>
          </a></div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column">
        <div class="image-taille-controleur text-center"><a href="#"><img data-bss-hover-animate="bounce"
              class="img-institution" src="../assets/img/institution-tribunal.png">
            <h5 class="w-100 text-center" style="color: var(--bs-gray-200);"><strong>Tribunal</strong></h5>
          </a></div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column">
        <div class="image-taille-controleur text-center"><a href="#"><img data-bss-hover-animate="bounce"
              class="img-institution" src="../assets/img/institution-immo.png">
            <h5 class="w-100 text-center" style="color: var(--bs-gray-200);"><strong>Immoblier</strong></h5>
          </a></div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column">
        <div class="image-taille-controleur text-center"><a href="#"><img data-bss-hover-animate="bounce"
              class="img-institution" src="../assets/img/institution-usine.png">
            <h5 class="w-100 text-center" style="color: var(--bs-gray-200);"><strong>Usine</strong></h5>
          </a></div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column">
        <div class="image-taille-controleur text-center"><a href="#"><img data-bss-hover-animate="bounce"
              class="img-institution" src="../assets/img/institution-restaurant.png">
            <h5 class="w-100 text-center" style="color: var(--bs-gray-200);"><strong>Restaurant</strong></h5>
          </a></div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 d-flex justify-content-center flex-column">
        <div class="image-taille-controleur text-center"><a href="#"><img data-bss-hover-animate="bounce"
              class="img-institution" src="../assets/img/institution-parlement.png">
            <h5 class="w-100 text-center" style="color: var(--bs-gray-200);"><strong>Assemblée&nbsp;</strong></h5>
          </a></div>
      </div>
    </div>
  </div>
