<app-navbar></app-navbar>

<section class="highlight-phone" style="background: rgb(238, 244, 247);">
  <div class="container">
      <div class="row">
          <div class="col col-8 text-media">
              <h1>Présentation</h1>
              <p>Dans <strong>TeeLife</strong> vous incarnez un personnage virtuel, ce personnage va devoir se débrouiller tout seul dans la vie pour survivre dans un premier temps puis pour évoluer.</p>
              <p>Pour ce faire il va devoir faire des études, trouver un métier correspondant aux études réalisées et tout faire pour gagner sa vie le mieux possible.</p>
              <p>Une fois les besoins sécuritaires assurés, le but premier du jeu est de rendre son personnage heureux et il faudra tout faire pour, comme par exemple se trouver un compagnon ou une compagne, avoir des enfants, se faire des amis, etc... Un petit peu comme dans la vie réelle.&nbsp;</p>
          </div>
          <div class="col">
              <p></p><img id="img-1" src="../assets/img/30-Scientist-512.webp">
          </div>
      </div>
  </div>
</section>
<section class="highlight-phone" style="background: rgb(255,255,255);">
  <div class="container">
      <div class="row">
          <div class="col"><img id="img-1" src="../assets/img/3-Doctor-512.webp"></div>
          <div class="col col-8 text-media">
              <p></p>
              <h1>La survie</h1>
              <p>Dans <strong>TeeLife</strong>&nbsp;vous devez acheter de la nourriture saine afin de votre correctement. Attention à ne pas vous intoxiquer, car les maladies sont présentes ! Vous devrez vous entretenir, en se lavant, en faisant des études, du sport, allez au coiffeur... Mais vous devrez aussi entretenir votre maison, au départ vous n'avez qu'une caravane, vous devrez vider les poubelles pour qu'un éboueur vienne récupérer vos poubelles par exemple.</p>
              <p>Il faut s'avoir que votre personnage à une durée de vie limitée en fonction de ses actions. Sur <strong>TeeLife</strong> 3 jours correspondent à 1 an de vie du personnage. Un personnage sain et en bonne santé peut vivre jusqu'a 120 ans !</p>
          </div>
      </div>
  </div>
</section>
<div class="card">
  <section class="highlight-phone" style="background: rgb(238, 244, 247);">
      <div class="container">
          <div class="row">
              <div class="col col-8 text-media">
                  <h1>Les métiers</h1>
                  <p>Dans <strong>TeeLife</strong>&nbsp;pour vous épanouir vous devrez faire des études afin de trouver un métier !</p>
                  <p>Il existe diffèrent type t'étude : médecine, immobilier, journaliste, policier, finance...</p>
                  <p>Ces études pourront donc vous conduire vers une multitude de métiers : médecin, pharmacien, chef d'entreprise, inspecteur fiscale, politicien, banquier..... Néanmoins il existe des métiers sans besoin de diplôme&nbsp; : éboueur, nounou, vendeur de tacos...</p>
                  <p>Chacun de ces métiers est nécessaire à la survie du jeu, si un métier n'a plus assez de joueur pour l'exercer, alors le jeu de l'offre et la demande va faire en sorte d'augmenter le salaire, et inversement !</p>
              </div>
              <div class="col">
                  <p></p><img id="img-1" src="../assets/img/2486626.png">
              </div>
          </div>
      </div>
  </section>
  <section class="highlight-phone" style="background: rgb(255,255,255);">
      <div class="container">
          <div class="row">
              <div class="col"><img id="img-1" src="../assets/img/2483811.png"></div>
              <div class="col col-8 text-media">
                  <p></p>
                  <h1>La politique</h1>
                  <p>La politique à un rôle très important dans <strong>TeeLife</strong>. En effet de nombreux métiers régissent la politique toute entière du jeu !</p>
                  <p>Il y un président et trois maires, des députés, des avocats, des juges... Leur but est de proposer et voter des lois pour le pays. Les maires quant à eux peuvent prendre des arrêtées pour leur ville. Chaque ville doit respecter les lois mais les arrêtés prit par les maires diffèrent selon les villes.</p>
                  <p></p>
                  <p>Il existe plusieurs types de codes : <strong>Code civil, Code pénal, Code de commerce.</strong><br></p>
              </div>
          </div>
      </div>
  </section>
  <section class="highlight-phone" style="background: rgb(238, 244, 247);">
      <div class="container">
          <div class="row">
              <div class="col col-8 text-media">
                  <h1>L'illégalité</h1>
                  <p>L'illégalité est présente dans <strong>TeeLife</strong>, en revanche elle n'est pas accessible à tout le monde !&nbsp;</p>
                  <p>Nous ne détaillerons pas ce qui peut-être dans l'illégalité car nous laissons les joueurs la découvrir par eux-même !</p>
                  <p>Il est totalement interdit de dévoiler les secrets liés à l'illégalité et comment y accéder. Peut-être qu'un jour vous tomberez dedans, mais les peines concouru de prison sont conséquentes ! Faite votre choix !&nbsp;&nbsp;</p>
                  <p></p>
              </div>
              <div class="col">
                  <p></p><img id="img-1" src="../assets/img/1051912.png">
              </div>
          </div>
      </div>
  </section>
</div>

<app-footer></app-footer>
