<app-navbar></app-navbar>

<body id="body-pd" class="body-pd" style="min-height: 725px;">

  <div class="container" style="padding: 12px;">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12" style="margin-top: 15px;">
            <div class="card h-100">
                <div class="card-body" style="padding: 0;padding-bottom: -0;">
                    <div class="account-settings">
                        <div class="user-profile" style="padding-bottom: 0px;margin-bottom: 0px;">
                            <div class="user-avatar"><img class="moi-avatar-taille"
                                    src="../assets/img/Pol_defaut.png" alt="Gwentey Rupi"
                                    style="margin-right: -24px;"></div>
                            <h5 class="user-name">Gwenety Rud</h5>
                            <h6 class="user-email">ddddkdk@dkdk.com</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" style="margin-top: 15px;">
            <div class="card h-100">
                <div class="card-body" style="padding-bottom: 0px;">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h5>Mon profil</h5>
                            <p>Vous pouvez modifier vos informations ci-dessous.</p>
                        </div>
                        <div class="container" style="height: auto;margin: 2px;margin-bottom: 13px;">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3"><input type="email" id="emailInput"
                                            class="form-control" placeholder="Saisir votre email"
                                            value="xxxxx@gmail.com"><label class="form-label" for="emailInput">Votre
                                            email</label></div>
                                </div>
                            </div>
                            <div><button class="btn btn-primary w-100" type="button">Changer mon email</button>
                            </div>
                        </div>
                        <div class="container" style="height: auto;">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3"><input type="email" id="floatingInput-1"
                                            class="form-control"><label class="form-label" for="floatingInput">Votre
                                            nouveau mot de passe</label></div>
                                    <div class="form-floating mb-3"><input type="email" id="floatingInput-2"
                                            class="form-control"><label class="form-label"
                                            for="floatingInput">Confirmer le mot de passe</label></div>
                                </div>
                            </div>
                            <div><button class="btn btn-primary w-100" type="button">Changer de mot de
                                    passe</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card h-100" style="margin-top: 15px;">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-5 col-lg-4" style="padding-top: 2px;padding-bottom: 2px;"><button
                            class="btn btn-primary btn btn-danger w-100" type="button">Supprimer mon compte</button>
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-4" style="padding-top: 2px;padding-bottom: 2px;"><button
                            class="btn btn-primary w-100" type="button">Demander de l'aide</button></div>
                    <div class="col-sm-12 col-md-5 col-lg-4" style="padding-top: 2px;padding-bottom: 2px;"><button
                            class="btn btn-primary w-100" type="button">Button</button></div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>
