<app-navbar></app-navbar>


<section class="highlight-phone" style="background: rgb(238, 244, 247);">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="intro">
                  <h2>Votre deuxième vie</h2>
                  <p>Dans&nbsp;<strong>TeeLife</strong>&nbsp;vous incarnez un personnage virtuel, ce personnage va devoir se débrouiller tout seul dans la vie. Il peut se nourrir, fonder une famille, passer des études, avoir un métier, faire de la politique ou du journalisme et même tomber dans l'illégalité.&nbsp;</p><a class="btn btn-primary" role="button" href="#">rejoindre L'AVENTURE</a>
              </div>
          </div>
          <div class="col-sm-4 col-xl-3">
              <div class="d-none d-md-block phone-mockup"><img class="device" src="../assets/img/phone.svg">
                  <div class="screen"></div>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="card">
  <div class="card-body" style="background: var(--bs-light);">
      <div class="row gy-4 row-cols-2 row-cols-md-4">
          <div class="col">
              <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                  <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bell">
                          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
                      </svg></div>
                  <div class="px-3">
                      <h2 class="fw-bold mb-0">3 villes</h2>
                      <p class="mb-0">Hyppolyte, Mia, Stanley</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                  <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-people">
                          <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"></path>
                      </svg></div>
                  <div class="px-3">
                      <h2 class="fw-bold mb-0">10+</h2>
                      <p class="mb-0">Nombre de joueurs</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                  <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cup">
                          <path d="M1 2a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v1h.5A1.5 1.5 0 0 1 16 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-.55a2.5 2.5 0 0 1-2.45 2h-8A2.5 2.5 0 0 1 1 12.5V2zm13 10h.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5H14v8zM13 2H2v10.5A1.5 1.5 0 0 0 3.5 14h8a1.5 1.5 0 0 0 1.5-1.5V2z"></path>
                      </svg></div>
                  <div class="px-3">
                      <h2 class="fw-bold mb-0">67+</h2>
                      <p class="mb-0">Café bu</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                  <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cloud">
                          <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"></path>
                      </svg></div>
                  <div class="px-3">
                      <h2 class="fw-bold mb-0">1</h2>
                      <p class="mb-0">Joueurs connecté</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="card-body" style="background: rgb(238,244,247);--bs-body-bg: #eef4f7;">
      <div class="container py-4 py-xl-5" style="background: rgb(238,244,247);">
          <div class="row mb-5">
              <div class="col-md-8 col-xl-8 text-center mx-auto">
                  <h1>Les informations</h1>
                  <p class="w-lg-50">Les derniers informations concernant la ville de NeeLife.</p>
              </div>
          </div>
          <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
              <div class="col">
                  <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="../assets/img/1-1.png">
                      <div class="card-body p-4">
                          <p class="text-primary card-text mb-0">Article</p>
                          <h4 class="card-title">Election politique</h4>
                          <p class="card-text" id="information-text">Les élections politiques sont en cours dans la ville d'Hyppolyte ! Actuellement 1 seul candidat à l'élection !</p>
                          <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="../assets/img/xavatar.png">
                              <div>
                                  <p class="fw-bold mb-0">Gwentey</p>
                                  <p class="text-muted mb-0">Président</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="../assets/img/3-1.png">
                      <div class="card-body p-4">
                          <p class="text-primary card-text mb-0">Article</p>
                          <h4 class="card-title">Le marché est enfin ouvert</h4>
                          <p class="card-text" id="information-text">Vous pouvez dès à présent acheter vos fruits et légumes au producteur du coins !</p>
                          <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="../assets/img/xavatar.png">
                              <div>
                                  <p class="fw-bold mb-0">Gwentey</p>
                                  <p class="text-muted mb-0">Président</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="../assets/img/2-1.png">
                      <div class="card-body p-4">
                          <p class="text-primary card-text mb-0">Article</p>
                          <h4 class="card-title">Pensez à votre santé&nbsp;</h4>
                          <p class="card-text" id="information-text">Vérifier la date de péremption des articles car vous avez des chances de tomber malade</p>
                          <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="../assets/img/xavatar.png">
                              <div>
                                  <p class="fw-bold mb-0">Gwentey</p>
                                  <p class="text-muted mb-0">Président</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>
